<section style="direction: rtl; background: transparent" [ngClass]="{ 'fullscreen-inActive': state }" (ngSubmit)="inquiry()" [formGroup]="requestForm" *ngIf="!(_collectionControls?.length>0)">

    <div class="box">
      <input type="text" name="nCode" value="" placeholder=" شناسه ملی شرکت" [imask]="{mask: '00000000000000'}" [(ngModel)]="verifyInfo.nationalCode" class="form-control" formControlName="ncode">
      <input type="text" name="nCode" value="" placeholder=" کد ملی مدیرعامل" [imask]="{mask: '00000000000000'}" [(ngModel)]="verifyInfo.nationalCodeCeo" class="form-control" formControlName="nCeocode">
     <input type="text" name="cell" value="" placeholder=" شماره همراه مدیرعامل"  [imask]="{mask: '00000000000000'}" [(ngModel)]="verifyInfo.cellPhone" class="form-control" formControlName="cellNumber">
      <!-- <input type="submit"  (click)="inquiry()" [ngClass]="{'m-progress':sendDataToServer}" value="استعــلام"> -->
      <a type="submit"  (click)="inquiry()" class="btn btn-success btn-block btn-lg" [ngClass]="{'m-progress':sendDataToServer}"  >استعــلام</a>

    </div>
</section>


<app-slid-in-out
    *ngIf="_collectionControls?.length>0"
    class="popup"

>
<app-show-result-info  [collection]="_collectionControls" ></app-show-result-info >


</app-slid-in-out>
