<div class="ghost">
  
  <div class="ghost--navbar">
    <button class="btn btn-warning centerBtn " (click)="backToMainPage()" >بازگشت به صفحه اصلی</button>
  </div>
    <div class="ghost--columns">
      <div class="ghost--column">
        <div class="code"></div>
        <div class="code"></div> 
        <div class="code"></div>
        <div class="code"></div>
      </div>
      <div class="ghost--column">
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
      </div>
      <div class="ghost--column">
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
      </div>
      
    </div>
    <div class="ghost--main">
      <div class="code"></div>
      <div class="code"></div>
  
    </div>
  
  </div>
  
  <h1 class="police-tape police-tape--1  myOrginalFont">
    &nbsp;&nbsp;&nbsp;&nbsp;خطای عدم دسترسی: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;خطای عدم دسترسی: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;خطای عدم دسترسی: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;خطای عدم دسترسی: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;خطای عدم دسترسی: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;خطای عدم دسترسی: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;خطای عدم دسترسی: 403
  </h1>
  <h1 class="police-tape police-tape--2 myOrginalFont">منطقه ممنوعه&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;منطقه ممنوعه&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;منطقه ممنوعه&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;منطقه ممنوعه&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;منطقه ممنوعه&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;منطقه ممنوعه&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
  
  