
<div class="modal">
  <div class="side">
    <div class="skew">
      <h3>استعلام موکل</h3><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRlppBGwoJOyLRenXKSgO8QOUkPlcEt0h743g&amp;usqp=CAU"/>
    </div>
  </div>
  <div class="header">
    <h1>اطلاعات موکل</h1>
  </div>
  <div class="form">
    <form>
      <fieldset class="name">
        <label for="number">شناسه ملی</label>
        <input type="text" maxlength="12"/>
      </fieldset>
      <fieldset class="name">
        <label for="name">نام موکل</label>
        <input id="name" type="text"/>
      </fieldset>
      <button type="button">استعلام گیری</button>
    </form>
  </div>
</div>