<app-slid-in-out
*ngIf="typeOpereation === 'addNewRequest' || typeOpereation === 'editRequest'  || typeOpereation === 'showDetail' "
class="popup"
[bgColour]="mybg">
                   <ngx-create-attorney-request  [isViewMode]="isViewMode" [attorneyRequest]="attorneyRequest" [operationType]="operationType"></ngx-create-attorney-request> 
</app-slid-in-out>


<div [ngClass]="{ 'fullscreen-inActive': state }">
  <kendo-grid
  [data]="gridData"
  (cellClick)="onCellClick($event)"
  [resizable]="true"
  [sortable]="{ mode: 'multiple' }"
  [selectable]="{ mode: 'single' }"
  (selectionChange)="selected($event)"
  (sortChange)="sortChange($event)"
  [sortable]="{
      allowUnsort: true,
      mode: 'multiple'
  }"
  [sort]="sort"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  [filter]="filter"
  (filterChange)="filterChange($event)"
  [filterable]="true"
  (pageChange)="pageChange($event)"
  [height]="815"
   >
  <kendo-grid-messages
      noRecords="رکوردی برای نمایش یافت نشد!"
      pagerItems="کل رکورد"
      pagerOf="از"
      sortAscending="صعودی"
      sortDescending="نزولی"
      filter="جستجو"
      columns="انتخاب سر ستون"
      columnsApply="اعمال"
      columnsReset="باز نشانی"
      (selectionChange)="selected($event)"
  >
  </kendo-grid-messages>
  <ng-template kendoGridToolbarTemplate>
      <a
      (click)="refreshAllRequest()"
      class="buttoFlat"

      type="button"
  >
  <img    src="../../../../assets/images/loop.png" width="24">

      به روز رسانی
  </a>
  </ng-template>

  <kendo-grid-column
      field="attorneyName"
      title="مشخصات وکیل"
      width="150"
      [filterable]="true"
  >
  </kendo-grid-column>

  <kendo-grid-column
      field="attorneyExternalId"
      title="شناسه‌ملی وکیل"
      width="100"
      [filterable]="true">
  </kendo-grid-column>

    <kendo-grid-column
    field="customerName"
    title="مشخصات موکل"
    width="150"
    [filterable]="true"
>
</kendo-grid-column>

  <kendo-grid-column
  field="customerExternalId"
  title="شناسه‌ملی موکل"
  width="150"
  [filterable]="true"
  >
  </kendo-grid-column>

  <kendo-grid-column
  field="broker"
  title="نام کارگزار"
  width="150"
  [filterable]="true"
  >
  </kendo-grid-column>


  <!-- <kendo-grid-column
      field="requestType.name"
      title="نوع درخواست"
      width="120"
      media="(min-width: 1950px)"
      [filterable]="true"
  >
  </kendo-grid-column> -->


  <kendo-grid-column title="وضعیت درخواست" field="requestStatus.name"   [filterable]="true" width="110">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span [class.classActiveRequest]="dataItem.requestStatus.id==1" [class.classSentRequest]="dataItem.requestStatus.id==3 "  
              [class.classRejectRequest]="dataItem.requestStatus.id==4"  [class.classSupplement]="dataItem.requestStatus.id==6">
                  {{ dataItem.requestStatus.name }}
              </span>
          </ng-template>
  </kendo-grid-column>


<!-- 
  <kendo-grid-column title="زمان پاسخ" field="responseSendDateTime" media="(min-width: 1650px)"  [filterable]="true" width="110">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span  >
                  {{ dataItem.responseSendDateTime}}
              </span>
          </ng-template>
 </kendo-grid-column> -->





  <kendo-grid-column field="عملیات" width="235" [filterable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
              <div class="row" style="margin-right: 1px " kendoTooltip>
 
      
                  <button
                  nbTooltip="مشاهده درخواست" nbTooltipStatus="primary"
                  type="button"
                  nbButton  outline
                  (click)="showRequestDetails(dataItem.id)"
                  status="primary"
                  class="btn  btn-primary btn-circle btnBlack"
                  [disabled]="checkIsSelectedRowForOperation(dataItem.id) || viewRequestInProgress"
              >
                  <i class="fa fa-eye"></i>
                  <span [ngClass]="{'spinner-grow spinner-grow-sm':viewRequestInProgress  &&  !checkIsSelectedRow(dataItem.id)}"   ></span>
              </button>

              <button
              nbTooltip="تایید درخواست" nbTooltipStatus="success"
              type="button"
              nbButton  outline
              status="success"
              (click)="responseRequest(false)"
              class="btn btn-success  btn-circle btnBlack"
              [disabled]="checkIsSelectedRow(dataItem.id)"
               >
              <i class="fa fa-check"></i>
          </button>


   
          <button
              nbTooltip="تغییر در وضعیت درخواست" nbTooltipStatus="warning"
              type="button"
              nbButton  outline
              status="warning"
              (click)="changeOfResponseStatus() "
              class="btn btn-warning  btn-circle btnBlack"
          [disabled]="checkIsSelectedRow(dataItem.id)"

               >
               <nb-icon icon="flip-2-outline"></nb-icon>
          </button>

              <button
              nbTooltip="رد درخواست" nbTooltipStatus="danger"
              type="button"
              nbButton  outline 
              [disabled]="checkIsSelectedRow(dataItem.id)"
              status="danger"
              class="myOrginalFont btn btn-danger  btn-circle btnBlack"
              (click)="responseRequest(true)"
          >
              <i class="fa fa-times"></i>
          </button>
         
          <button
          nbTooltip="دریافت مدارک" nbTooltipStatus="primary"
          type="button"
          nbButton  outline 
          [disabled]="checkIsSelectedRow(dataItem.id) || isDownloading"
          class="myOrginalFont btn btn-primary  btn-circle btnBlack"
          (click)="downloadDocuments()" >
       
        <span [ngClass]="{'spinner-grow spinner-grow-sm': isDownloading && !checkIsSelectedRow(dataItem.id) }"   ></span>
            <i class="fa fa-download"></i>
        </button>

              </div>

    
              <ng-template
                  kendoPagerTemplate
                  let-totalPages="totalPages"
                  let-currentPage="currentPage">
                  <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                  <kendo-pager-numeric-buttons
                      [buttonCount]="12"
                  ></kendo-pager-numeric-buttons>
                  <kendo-pager-info></kendo-pager-info>
                  <kendo-pager-next-buttons></kendo-pager-next-buttons>
                  <kendo-pager-page-sizes
                      [pageSizes]="[12, 120, 240]"
                  ></kendo-pager-page-sizes>
              </ng-template>
          </ng-template>
      </kendo-grid-column>

  

</kendo-grid>

<div class="row">
    <modal  #contentTemplateResponsebrokerRequest  >
            <modal-header >
                    <h5  class="myOrginalFont"><nb-icon status="info" icon="done-all-outline"></nb-icon> پاسخ به درخواست  </h5>
                </modal-header>

            <modal-content>
            <div class="row container">
                <div class="input-group"> 
                    <div *ngIf="statusOfResponseIsReject" class="input-group-prepend">
                        <div class="input-group" style="margin-bottom: 10px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text spanGrp"> نـحوه بـازشگت </span>
                           </div>
                            <div class="ui-combobox ui-combobox-options-left">
                              <div class="ui-value" placeholder="انتخاب عملیات نحوه بازگشت درخواست">{{selectedOperation.name}}</div>
                              <div class="ui-options">
                                <label>انتخاب عملیات </label>
                                <i class="separator"></i>
                                <label *ngFor="let opr of operations" (click)="changeOperations(opr)"> {{opr.name}} </label>
                         
                              </div>
                            </div>
                    
                        </div>
                     
                      </div>
                </div>
                    <div class="input-group">

                            <div class="input-group-prepend">
                                 <span class="input-group-text spanGrp"> شـــــــــــرح </span>
                            </div>
                            <textarea rows="4" ngxOnlyPersianChars cols="50" class="form-control inputGrp"  
                              class="form-control inputGrp" [(ngModel)]="description" > </textarea>
                    </div>
            </div>
         <br/>
        </modal-content>
        <modal-footer> 

<button nbButton status="success"     [disabled]="description=='' ||description.length==0"  *ngIf="statusOfResponseIsReject" 
class="myOrginalFont dialog-Btn " [ngClass]="{'m-progress':sendDataToServer}"  (click)="rejectSelectedRequest()" >رد درخواست<nb-icon icon="undo-outline"></nb-icon></button>
                <button nbButton  [disabled]="description=='' ||description.length==0" status="success" class="myOrginalFont dialog-Btn "   *ngIf="!statusOfResponseIsReject" [ngClass]="{'m-progress':sendDataToServer}" (click)="acceptRequest()" > تایید درخواست<nb-icon icon="undo-outline"></nb-icon></button>
                <button nbButton  status="danger" (click)="closeAllModal()" class="myOrginalFont dialog-Btn">انصراف<nb-icon icon="close-outline"></nb-icon></button>
                   
         </modal-footer>
    </modal>
</div>

<!-- <div class="row">
  <modal  #contentTemplateResponsebrokerRequest  >
          <modal-header >
                  <h5  class="myOrginalFont"><nb-icon status="info" icon="done-all-outline"></nb-icon> پاسخ به درخواست  </h5>
              </modal-header>

          <modal-content>
          <div class="row container">
                  <div class="input-group">
                          <div class="input-group-prepend">
                               <span class="input-group-text spanGrp"> شـــــــــــرح </span>
                          </div>
                          <textarea rows="7" ngxOnlyPersianChars cols="50" class="form-control inputGrp"  
                            class="form-control inputGrp" [(ngModel)]="description" > </textarea>
                  </div>
          </div>
       <br/>
      </modal-content>
      <modal-footer> 

              <button nbButton status="success" [disabled]="description=='' ||description.length==0"  *ngIf="statusOfResponseIsReject" 
              class="myOrginalFont dialog-Btn " [ngClass]="{'m-progress':sendDataToServer}"  (click)="rejectSelectedRequest()" >رد درخواست
              <nb-icon icon="undo-outline"></nb-icon></button>

              <button nbButton  [disabled]="description=='' ||description.length==0" status="success" class="myOrginalFont dialog-Btn "   *ngIf="!statusOfResponseIsReject" [ngClass]="{'m-progress':sendDataToServer}" (click)="acceptSelectedRequest()" > تایید درخواست<nb-icon icon="log-out"></nb-icon></button>
              <button nbButton  status="danger" (click)="closeAllModal()" class="myOrginalFont dialog-Btn">انصراف<nb-icon icon="close-outline"></nb-icon></button>
                 
       </modal-footer>
  </modal>
</div> -->


<div class="row">
    <modal  #contentTemplateResponsebrokerRequest  >
            <modal-header >
                    <h5  class="myOrginalFont"><nb-icon status="info" icon="done-all-outline"></nb-icon> پاسخ به درخواست  </h5>
                </modal-header>

            <modal-content>
            <div class="row container">
                <div class="input-group"> 
                    <div *ngIf="statusOfResponseIsReject" class="input-group-prepend">
                        <div class="input-group" style="margin-bottom: 10px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text spanGrp"> نـحوه بـازشگت </span>
                           </div>
                            <div class="ui-combobox ui-combobox-options-left">
                              <div class="ui-value" placeholder="انتخاب عملیات نحوه بازگشت درخواست">{{selectedOperation.name}}</div>
                              <div class="ui-options">
                                <label>انتخاب عملیات </label>
                                <i class="separator"></i>
                                <label *ngFor="let opr of operations" (click)="changeOperations(opr)"> {{opr.name}} </label>
                         
                              </div>
                            </div>
                    
                        </div>
                     
                      </div>
                </div>
                    <div class="input-group">

                            <div class="input-group-prepend">
                                 <span class="input-group-text spanGrp"> شـــــــــــرح </span>
                            </div>
                            <textarea rows="4" ngxOnlyPersianChars cols="50" class="form-control inputGrp"  
                              class="form-control inputGrp" [(ngModel)]="description" > </textarea>
                    </div>
            </div>
         <br/>
        </modal-content>
        <modal-footer> 

<button nbButton status="success"     [disabled]="description=='' ||description.length==0"  *ngIf="statusOfResponseIsReject" 
class="myOrginalFont dialog-Btn " [ngClass]="{'m-progress':sendDataToServer}"  (click)="rejectSelectedRequest()" >رد درخواست<nb-icon icon="undo-outline"></nb-icon></button>
                <button nbButton  [disabled]="description=='' ||description.length==0" status="success" class="myOrginalFont dialog-Btn "   *ngIf="!statusOfResponseIsReject" [ngClass]="{'m-progress':sendDataToServer}" (click)="acceptRequest()" > تایید درخواست<nb-icon icon="undo-outline"></nb-icon></button>
                <button nbButton  status="danger" (click)="closeAllModal()" class="myOrginalFont dialog-Btn">انصراف<nb-icon icon="close-outline"></nb-icon></button>
                   
         </modal-footer>
    </modal>
</div>


<div class="row"  >
<modal  #commonResponses  > 
        <modal-header >
                <h5  class="myOrginalFont"><nb-icon status="info" icon="done-all-outline" ></nb-icon> تغییر وضعیت درخواست  </h5>
            </modal-header>

        <modal-content>
        <div class="row container">
                <div class="input-group">
                        <div class="input-group-prepend">
                            <span  class="input-group-text spanGrp" style="height: 80%;">شــرح پــاسخ </span>
                            <ngx-responsesof-request [(ngModel)]="statusOfRequest" (valueChanged)="responseComboValueChange($event)" >

                        </ngx-responsesof-request>
                        </div>
                <br/>

                        <div class="row container">
                            <div class="input-group">
                                    <div class="input-group-prepend">
                                         <span class="input-group-text spanGrp"> شــــــــــرح </span>
                                    </div>
                                    <textarea rows="3" ngxOnlyPersianChars cols="30" class="form-control inputGrp"    
                                      class="form-control inputGrp" [(ngModel)]="descriptionUpdateResponseStatus" >  </textarea>
                            </div>
                    </div>
                 <br/>
                </div>
        </div>
     <br/>
    </modal-content>
    <modal-footer> 

            <button nbButton status="success"       
            class="myOrginalFont dialog-Btn " [ngClass]="{'m-progress':sendDataToServer}" [disabled]="!statusOfRequest" (click)="sendNewStateOfRequest()" >به روزرسانی وضعیت درخواست
            <nb-icon icon="flip-2-outline"></nb-icon></button>
            
            <button nbButton  status="danger" (click)="closeAllModal()" class="myOrginalFont dialog-Btn">انصراف<nb-icon icon="close-outline"></nb-icon></button>
               
     </modal-footer>
</modal>
</div>



<div *ngIf="loadingGrid " class="k-i-loading"></div>


</div>
