.k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    /* background-color: rgba(255,255,255,.3); */
    color: #ff6757;
  }

  
//   $transition-duration: 0.8s;
//   $transition-easing: cubic-bezier(0.230, 1.000, 0.320, 1.000);
//   $bounce-easing: cubic-bezier(0.175, 0.885, 0.320, 1.275);
//   $closed-width: 250px;
//   $closed-height: 50px;
//   $opened-width: 300px;
//   $opened-height: 160px;
  
   
  
//   html, body {
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     user-select: none;
//   }
  
//   body {
//     display: flex;
//     font-family: Roboto, "Helvetica Neue", sans-serif;
//     font-size: 18px;
//     perspective: 1000px;
//     background-color: #f5f5f5;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .description {
//     margin-top: 50px;
//     text-align: center;
//     color: #999;
//     transition: opacity 0.3s ease;
//   }
  
//   .description a {
//     color: #4A9DF6;
//     text-decoration: none;
//   }
  
//   .btn.is-open ~ .description {
//     opacity: 0;
//   }
  
//   .btn {
//     display: block;
//     position: relative;
//     width: $closed-width;
//     height: $closed-height;
//     transition: width $transition-duration $transition-easing,
//                 height $transition-duration $transition-easing,
//                 transform $transition-duration $bounce-easing;
//     transform-style: preserve-3d;
//     transform-origin: 50% 50%;
//     text-align: center;
//     padding: 0px !important;
//   }
  
//   .btn-front {
//     position: absolute;
//     display: block;
//     width: 100%;
//     height: 100%;
//     line-height: $closed-height;
//     background-color: #8C8484;;;
//     color: #fff;
//     cursor: pointer;
//     margin: 1px auto;
//     backface-visibility: hidden;
//     -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
//     transition: background 0.15s ease,
//                 line-height $transition-duration $transition-easing;
//   }
//   .btn-front:hover {
//     background-color: lighten(#F44336, 10%);
//   }
//   .btn.is-open .btn-front {
//     pointer-events: none;
//     line-height: $opened-height;
//   }
  
//   .btn-back {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-color: #eee;
//     color: #222;
//     transform: translateZ(-2px) rotateX(180deg);
//     overflow: hidden;
//     transition: box-shadow $transition-duration ease;
//   }
//   .btn-back p {
//     margin-top: 27px;
//     margin-bottom: 25px;
//   }
//   .btn-back button {
//     padding: 12px 20px;
//     width: 30%;
//     margin: 0 5px;
//     background-color: transparent;
//     border: 0;
//     border-radius: 2px;
//     font-size: 1em;
//     cursor: pointer;
//     -webkit-appearance: none;
//     -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
//     transition: background 0.15s ease;
    
//     &:focus {
//       outline: 0;
//     }
    
//     &.yes {
//       background-color: #2196F3;
//       color: #fff;
      
//       &:hover {
//         background-color: lighten(#2196F3, 10%);
//       }
//     }
    
//     &.no {
//       color: #2196F3;
      
//       &:hover {
//         background-color: #ddd;
//       }
//     }
//   }
  
//   .btn.is-open .btn-back {
//     box-shadow: 0 8px 25px rgba(0,0,0,0.4);
//   }
  
//   .btn[data-direction="left"] .btn-back,
//   .btn[data-direction="right"] .btn-back {
//     transform: translateZ(-2px) rotateY(180deg);
//   }
  
//   .btn.is-open {
//     width: $opened-width;
//     height: $opened-height;
//   }
  
//   .btn[data-direction="top"].is-open {
//     transform: rotateX(180deg);
//   }
  
//   .btn[data-direction="right"].is-open {
//     transform: rotateY(180deg);
//   }
  
//   .btn[data-direction="bottom"].is-open {
//     transform: rotateX(-180deg);
//   }
  
//   .btn[data-direction="left"].is-open {
//     transform: rotateY(-180deg);
//   }

.button {
  &.dark-single {
      --background: none;
      --rectangle: #242836;
      --success: #4BC793;
  }
  &.white-single {
      --background: none;
      --rectangle: #F5F9FF;
      --arrow: #275efe;
      --success: #275efe;
      --shadow: rgba(10, 22, 50, .1);
  }
  &.dark {
      --background: #242836;
      --rectangle: #1C212E;
      --arrow: #F5F9FF;
      --text: #F5F9FF;
      --success: #2F3545;
  }
}

.button {
  --background: #275efe;
  --rectangle: #184fee;
  --success: #{mix(white, #184fee, 20%)};
  --text: #fff;
  --arrow: #fff;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, .24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform .2s ease, box-shadow .2s ease;
  &:active {
      transform: scale(.95);
      box-shadow: 0 1px 4px -1px var(--shadow);
  }
  ul {
      margin: 0;
      padding: 16px 40px;
      list-style: none;
      text-align: center;
      position: relative;
      backface-visibility: hidden;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      color: var(--text);
      li {
          &:not(:first-child) {
              top: 16px;
              left: 0;
              right: 0;
              position: absolute;
          }
          &:nth-child(2) {
              top: 76px;
          }
          &:nth-child(3) {
              top: 136px;
          }
      }
  }
  & > div {
      position: relative;
      width: 60px;
      height: 60px;
      background: var(--rectangle);
      &:before,
      &:after {
          content: '';
          display: block;
          position: absolute;
      }
      &:before {
          border-radius: 1px;
          width: 2px;
          top: 50%;
          left: 50%;
          height: 17px;
          margin: -9px 0 0 -1px;
          background: var(--arrow);
      }
      &:after {
          width: 60px;
          height: 60px;
          transform-origin: 50% 0;
          border-radius: 0 0 80% 80%;
          background: var(--success);
          top: 0;
          left: 0;
          transform: scaleY(0);
      }
      svg {
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          left: 50%;
          top: 50%;
          margin: -9px 0 0 -10px;
          fill: none;
          z-index: 1;
          stroke-width: 2px;
          stroke: var(--arrow);
          stroke-linecap: round;
          stroke-linejoin: round;
      }
  }
  &.loading {
      ul {
          animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
      }
      & > div {
          &:before {
              animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          }
          &:after {
              animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          }
          svg {
              animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          }
      }
  }
}

@keyframes text {
  10%,
  85% {
      transform: translateY(-100%);
  }
  95%,
  100% {
      transform: translateY(-200%);
  }
}

@keyframes line {
  5%,
  10% {
      transform: translateY(-30px);
  }
  40% {
      transform: translateY(-20px);
  }
  65% {
      transform: translateY(0);
  }
  75%,
  100% {
      transform: translateY(30px);
  }
}

@keyframes svg {
  0%,
  20% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
  }
  21%,
  89% {
      stroke-dasharray: 26px;
      stroke-dashoffset: 26px;
      stroke-width: 3px;
      margin: -10px 0 0 -10px;
      stroke: var(--checkmark);
  }
  100% {
      stroke-dasharray: 26px;
      stroke-dashoffset: 0;
      margin: -10px 0 0 -10px;
      stroke: var(--checkmark);
  }
  12% {
      opacity: 1;
  }
  20%,
  89% {
      opacity: 0;
  }
  90%,
  100% {
      opacity: 1;
  }
}

@keyframes background {
  10% {
      transform: scaleY(0);
  }
  40% {
      transform: scaleY(.15);
  }
  65% {
      transform: scaleY(.5);
      border-radius: 0 0 50% 50%;
  }
  75% {
      border-radius: 0 0 50% 50%;
  }
  90%,
  100% {
      border-radius: 0;
  }
  75%,
  100% {
      transform: scaleY(1);
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
      box-sizing: inherit;
  }
}

// Center & dribbble
body {
  min-height: 100vh;
  display: flex;
  font-family: 'Roboto', Arial;
  justify-content: center;
  align-items: center;
  background: #E4ECFA;
  .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & > div {
          flex-basis: 100%;
          width: 0;
      }
      .button {
          margin: 16px;
          @media(max-width: 400px) {
              margin: 12px;
          }
      }
  }
  .dribbble {
      position: fixed;
      display: block;
      right: 20px;
      bottom: 20px;
      img {
          display: block;
          height: 28px;
      }
  }
}


.not-active {
  pointer-events: not-allowed;
  cursor: default;
  text-decoration: none;
  background-color: #888080 !important;
  color: transparent;
  filter: blur(1px);
}

.active{
  pointer-events: visible;
  cursor: pointer;
  background-color: #242836 !important;
}


.grid-wrapper {
    position: relative;
  }
  .k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    /* background-color: rgba(255,255,255,.3); */
    color: #ff6757;
  }
  
  .classActiveRequest{
    color: green;
    animation: colorActiveChange 5s;
    font-weight: 800;
  }
   
  @keyframes colorActiveChange
  {
    0%   {color: rgb(99, 243, 16);font-weight: 500;font-size: 12px}
    25%  {color: #03d353;font-weight: 600;font-size: 13px}
    50%  {color: rgb(2, 49, 11);font-weight: 700;font-size: 14px}
    75%  {color: green;font-weight: 800;font-size: 13px}
    100% {color: green;font-weight: 900;font-size: 13px}
  }
  
  
  .classSupplement{
    color:#73880c;;
    animation: colorSupplemenChange 5s;
    font-weight: 800;
  }
  @keyframes colorSupplemenChange
  {
    0%   {color: #73880c;font-weight: 500;font-size: 12px}
    25%  {color: #7a910b;font-weight: 600;font-size: 13px}
    50%  {color: #859b1b;font-weight: 700;font-size: 14px}
    75%  {color: #7f960c;font-weight: 800;font-size: 13px}
    100% {color: #73880c;font-weight: 900;font-size: 13px}
  }
  
  
  .classSentRequest{
    color: rgb(14, 99, 168);
    animation: colorSentChange 5s;
    font-weight: 800;
  }
   
  @keyframes colorSentChange
  {
    0%   {color: rgb(30, 183, 221);font-weight: 500;font-size: 12px}
    25%  {color: #204ddf;font-weight: 600;font-size: 13px}
    50%  {color: rgb(17, 29, 189);font-weight: 700;font-size: 14px}
    75%  {color: rgb(16, 35, 143);font-weight: 800;font-size: 13px}
    100% {color: rgb(36, 108, 167);font-weight: 900;font-size: 13px}
  }
  
  .classRejectRequest{
    color: rgb(151, 25, 3);
    animation: colorRejectRequest 5s;
    font-weight: 800;
  }
   
  @keyframes colorRejectRequest
  {
    0%   {color: rgb(219, 114, 15);font-weight: 500;font-size: 12px}
    25%  {color: #da4936;font-weight: 600;font-size: 13px}
    50%  {color: rgb(187, 56, 56);font-weight: 700;font-size: 14px}
    75%  {color: rgb(129, 34, 18);font-weight: 800;font-size: 13px}
    100% {color: rgb(207, 37, 7);font-weight: 900;font-size: 13px}
  }
  
  .classWaitFinallAcceptRequest{
    color: rgb(0, 136, 106);
    animation: colorWaitFinallAcceptRequest 5s;
    font-weight: 800;
  }
  
  @keyframes colorWaitFinallAcceptRequest
  {
    0%   {color: rgb(0, 136, 106);font-weight: 500;font-size: 12px}
    25%  {color: rgb(14, 136, 110);font-weight: 600;font-size: 13px}
    50%  {color: rgb(17, 114, 93);font-weight: 700;font-size: 14px}
    75%  {color: rgb(11, 104, 84);font-weight: 800;font-size: 13px}
    100% {color: rgb(0, 136, 106);font-weight: 900;font-size: 13px}
  }
  
  .classInProgressRequest{
    color: rgb(187, 171, 29);
    animation: colorInProgressRequest 5s;
    font-weight: 800;
  }
  
  @keyframes colorInProgressRequest
  {
    0%   {color: rgb(197, 183, 51);font-weight: 500;font-size: 12px}
    25%  {color: rgb(182, 167, 33);font-weight: 600;font-size: 13px}
    50%  {color: rgb(187, 171, 29);font-weight: 700;font-size: 14px}
    75%  {color: rgb(190, 179, 78);font-weight: 800;font-size: 13px}
    100% {color: rgb(224, 205, 33);font-weight: 900;font-size: 13px}
  }
  
  .dialog-Btn {
    margin: 2px;
  }
  
  
  .btnBlack{
    background: black !important
  }
  
  .disActive{
    pointer-events: none;
  }
  