<kendo-combobox
    [data]="dataCollection"
    [textField]="'name'"
    [valueField]="'id'"
    [filterable]="true"
    (filterChange)="handleFilter($event)"
    name="name"
    [(ngModel)]="value"
    [disabled]="disableStatus"
    style="width: 100%;"
    [placeholder]="'انتخاب کنید'"
    [loading]="this.dataCollection.length==0"
>

<ng-template kendoComboBoxItemTemplate let-dataItem class="myOrginalFont">
        <span class="myOrginalFont">{{ dataItem.name }}</span> 
</ng-template>
</kendo-combobox>
