<div class="ve-loading">
    <div class="ve-loading__grid"  >
      <div class="ve-loading__item">
        <div class="ve-loading__thumbnail"></div>
        <div class="ve-loading__line"></div>
        <div class="ve-loading__line--short"></div>
      </div>
      <div class="ve-loading__item">
        <div class="ve-loading__thumbnail"></div>
        <div class="ve-loading__line"></div>
        <div class="ve-loading__line--short"></div>
      </div>
      <div class="ve-loading__item">
        <div class="ve-loading__thumbnail"></div>
        <div class="ve-loading__line"></div>
        <div class="ve-loading__line--short"></div>
      </div>
  </div>
</div>

<div class="ve-loading">
  <div class="ve-loading__grid"  >
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>

    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
    <div class="ve-loading__item">
      <div class="ve-loading__thumbnail"></div>
      <div class="ve-loading__line"></div>
      <div class="ve-loading__line--short"></div>
    </div>
  </div>
</div>